<!doctype html>
<html>
<head>
<title>Elastic Fitness</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gaudiamus-css@latest/css/gaudiamus.min.css">
<!--citation: # citation for the stylesheet framework
#Date:02/02/2021
# Copied from /OR/ Adapted from /OR/ Based on:
# Source URL: https://gaudiamus-css.github.io/index.html -->
 
<link rel = "shortcut icon" type="image/ico" href="images/favicon.ico"> <!--citation: favicon icon! made via https://www.favicon.cc/ by anthony corton-->

</head>
<body>
  <ul>
  <li><a class="active" href="/home">Home</a></li>               <!--citation:   # Citation for the following navigation bar:
                                                                  # Date: 02/02/2021
                                                                  # Copied from /OR/ Adapted from /OR/ Based on:
                                                                  # Source URL: https://www.w3schools.com/css/css_navbar_horizontal.asp -->
  <li><a href="/certs">Certifications</a></li>
  <li><a href="/clients">Clients</a></li>
  <li><a href="/trainers">Trainers</a></li>
  <li><a href="/mngclients">Manage Clients</a></li>
  <li><a href="/mngtrainers">Manage Trainers</a></li>
  <li><a href="/mngplans">Manage Exercise Plans</a></li>
  <li><a href="/srchclients">Search Clients Page</a></li>
  </ul>
{{{body}}}
</body>
</html>