<br>
<br> 
<h1 class = "welcome font-xl"> Welcome to the Certifications page! </h1>
<br>
<br>

<section class="container">
<h2> Create new certification form </h2>
  <form method="post" id="myForm">
  <input type="hidden" value="{{id}}" id="certs" name="certs">
  <input type="hidden" value="put" id="method" name="method">
  <div class="grid-2 md:grid-6-6 m-t-5">
  <label for="name">Enter the name of the certification:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="name" id="toDoName" value="{{name}}" placeholder = "Certification name">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" name="Add Item" value="Add Item" id="tablePost">
  </div>
  </div>
  </form>
</section>

<br>
<br>
<br>
<br>

<section class="grid container">
<h2 class = "font-lg place-x-center m-y-5"> List of current certifications</h2>
</section>

<table class="center" >

  <tr>
    <th>Certifications</th>
  </tr>

  <tr>
    <td>NASM </td>
    <td><button type="button" onclick="alert('Updated Certification')">Update Certification</button> <button type="button" onclick="alert('Deleted Certification')">Delete Certification</button></td>
  </tr>

  <tr>
    <td>ACE</td>
    <td><button type="button" onclick="alert('Updated Certification')">Update Certification</button> <button type="button" onclick="alert('Deleted Certification')">Delete Certification</button></td>
  </tr>

  <tr>
    <td>ISSA</td>
    <td><button type="button" onclick="alert('Updated Certification')">Update Certification</button> <button type="button" onclick="alert('Deleted Certification')">Delete Certification</button></td>
  </tr>

</table>
