<!DOCTYPE html>
<html>

  <head>
    <title>Elastic Fitness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css"> 
    <link rel = "shortcut icon" type="image/ico" href="images/favicon.ico">  <!-- favicon icon! made via https://www.favicon.cc/ by anthony corton-->
  </head>

  <body>
  <ul>
  <li><a class="active" href="/home">Home</a></li>               <!--citation: https://www.w3schools.com/css/css_navbar_horizontal.asp -->
  <li><a href="/certs">Certifications</a></li>
  <li><a href="/clients">Clients</a></li>
  <li><a href="/trainers">Trainers</a></li>
  <li><a href="/mngclients">Manage Clients</a></li>
  <li><a href="/mngtrainers">Manage Trainers</a></li>
  </ul>

    <br>
    <br> 
    <h1 class = "welcome"> Welcome to the Certifications page! </h1>
    <br>
    <br>

  <h2> Create new certification form </h2>
  <form method="post" id="myForm">
  <input type="hidden" value="{{id}}" id="certs" name="certs">
  <input type="hidden" value="put" id="method" name="method">
  <label for="name">Enter the name of the certification:</label>
  <input type="text" name="name" id="toDoName" value="{{name}}" placeholder = "Certification name">
  <br>
  <input type="submit" name="Add Item" value="Add Item" id="tablePost">
  </form>
  <br>
  <br>
  <br>
  <br>

  <h2> List of current certifications</h2>

  <table >
  <tr>
    <th>Certifications</th>
  </tr>
  <tr>
    <td>NASM <button type="button" onclick="alert('Updated Certification')">Update Certification</button> <button type="button" onclick="alert('Deleted Certification')">Delete Certification</button></td>
  </tr>
  <tr>
    <td>ACE<button type="button" onclick="alert('Updated Certification')">Update Certification</button> <button type="button" onclick="alert('Deleted Certification')">Delete Certification</button></td>
  </tr>
  <tr>
    <td>ISSA<button type="button" onclick="alert('Updated Certification')">Update Certification</button> <button type="button" onclick="alert('Deleted Certification')">Delete Certification</button></td>
  </tr>
</table>
  </body>

</html>
