<!DOCTYPE html>
<html>

  <head>
    <title>Elastic Fitness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css"> 
    <link rel = "shortcut icon" type="image/ico" href="images/favicon.ico">  <!-- favicon icon! made via https://www.favicon.cc/ by anthony corton-->
  </head>

  <body>
  <ul>
  <li><a class="active" href="/home">Home</a></li>               <!--citation: https://www.w3schools.com/css/css_navbar_horizontal.asp -->
  <li><a href="/certs">Certifications</a></li>
  <li><a href="/clients">Clients</a></li>
  <li><a href="/mngclients">Manage Clients</a></li>

  </ul>

    <br>
    <br> 
    <h1 class = "welcome"> Welcome to Elastic Fitness's Trainer / Client Management </h1>

    <div class ="headerImage">
    <img src="images/stickFigure.png" alt="Trulli" width="500" height="333">
    </div>


    <div>
      <p> This site is for managing clients and trainers in regards to trainers and certifications repsectively. </p>
    </div>

  </body>

</html>
