
<br>
<br> 
<h1 class = "welcome font-xl"> Welcome to Elastic Fitness's Trainer / Client Management </h1>

<div class ="headerImage">
<img src="images/stickFigure.png" alt="Trulli" width="500" height="333">
</div>


<div>
  <h3> Note: Some features might not be fully implemented when clicked (might redirect to our 404 page) be prepared to backspace if you reach a 404 page</h3>
  <p> This site is for managing clients and trainers in regards to trainers and certifications repsectively. </p>
</div>

