
<br>
<br> 
<h1 class = "welcome font-xl"> Welcome to Elastic Fitness's Trainer / Client Management </h1>

<div class ="headerImage">
<img src="images/stickFigure.png" alt="Trulli" width="500" height="333">
</div>


<div>
  <p> This site is for managing clients and trainers in regards to trainers and certifications repsectively. </p>
</div>

