body {
	background-color: #FFFFC1;                   /* Feel like a yellow and black scheme is like standard gym esque right? */
}



												                      /* citation for header navigation bar styling:
                                              # Date 2/01/2021
                                              # Adapted from /or/ based on:
                                              # Source URL: https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #828385;                 /* citation for hover color:
                                             # Date: 2/01/2021
                                             # Copied from:gm motor shale
                                             # Source url: https://encycolorpedia.com/828385 */
}


.welcome {
	text-align:center;
}

.headerImage {                              /* citation
                                            # Citation for the following header image style:
                                            # Date: 2/02/2021
                                            # Copied from /OR/ Adapted from /OR/ Based on:
                                            # Source URL: https://www.w3schools.com/cssref/css3_pr_flex-direction.asp
                                            https://www.w3schools.com/cssref/css3_pr_align-items.asp */ 
  display: flex;                              
  flex-direction: column;                   
  justify-content: center;
  align-items: center;
  
}


table, th, td {
  border: 2px solid black;
}